[D-BUS Service]
Name=org.coderus.searchengines
Interface=org.coderus.searchengines
Exec=/bin/false
User=root
SystemdService=org.coderus.searchengines.service
